:host {
  display: block;
  height: 745px;
  @media screen and (max-width: 1110px) {
    height: auto;
  }

  header {
    background-color: #252525;
    color: #ffffff;
    height: 90%;
    background-image: url('../../../assets/hero.png');
    background-position: top center;
    background-repeat: no-repeat;
    @media screen and (max-width: 1110px) {
      margin-bottom: 50px;
    }
  }

  .box {
    margin: 0px auto;
    max-width: 1110px;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    @media screen and (max-width: 1110px) {
      max-width: 80vw;
    }

    @media screen and (max-width: 1110px) {
      flex-flow: column nowrap;
      background-color: #252525;
      background-image: none;
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      margin-top: 40px;

      .content {
        width: 545px;
        font-family: 'Muli', sans-serif;
        font-style: normal;
        @media screen and (max-width: 1110px) {
          width: 100%;
        }

        h1 {
          font-weight: normal;
          font-size: 40px;
          line-height: 45px;
          margin-top: 40px;

          strong {
            font-weight: 800;
          }
        }

        p {
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .right {
      flex: .8;
      display: flex;
      img {
        max-width: 100%;
        position: relative;
        top: 65px;
        margin: 0px auto;
        @media screen and (min-width: 1110px) {
          position: absolute;
          top: 205px;
        }
      }
    }
  }
}
