<header>
  <div class="box">
    <div class="left">
      <div class="content">
        <a href="#">
          <img src="../../assets/logo.svg" alt="logo">
        </a>
        <h1>Aprenda a mexer nesse tema em <strong>apenas 10 minutos</strong></h1>
        <p>Lorem ipsum dolor sit amet, adipiscing elit. Ut in maurs maximus, dictm eros sit </p>
        <app-hero-form></app-hero-form>
      </div>
    </div>
    <div class="right">
      <img src="../../assets/ebook-cover.png" alt="Book">
    </div>
  </div>
</header>
