form{
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  width: 360px;
  @media screen and (max-width: 1110px) {
    width: 100%;
  }
  label{
    margin: 10px 0px;
  }
  input{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 46px;
    font-size: 16px;
    line-height: 60px;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    padding: 12px;
  }
  button{
    margin-top: 30px;
    color: #fff;
    background-color: #F63048;
    border: none;
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  }
}
