.container {
  max-width: 1110px;
  margin: 0px auto;
  color: #262626;
  padding: 40px 0px;
  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    width: 500px;
  }

  p {
    font-size: 18px;
    line-height: 23px;
  }

  .cards {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 0px;
  }

  .card {
    display: flex;
    flex-flow: row nowrap;

    &:not(:first-child){
      padding: 0px 20px;
    }

    div {
      flex: 2;
      margin-left: 10px;

      h3 {
        margin: 0px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        color: #5F5F5F;
      }
    }
  }
}
