<header>
  <div class="box">
    <div class="left">
      <div class="content">
        <img src="../../assets/logo.svg" alt="logo">
        <h1>Muito obrigado!</h1>
        <p>Você acaba de ter acesso ao melhor conteúdo sobre [assunto].</p>
        <p>Se você busca ainda por mais conhecimento, não deixe de conferir o curso de [título]. <a href="#">Saiba mais sobre como melhorar sua habilidades.</a></p>
        <button>Baixar E-book</button>
        <div class="share">
          <p>compartilhe esse e-book:</p>
          <div class="social-links">
            <a href="#"><img src="../../assets/instagran-white.svg" alt="instagran"></a>
            <a href="#"><img src="../../assets/facebook-white.svg" alt="facebook"></a>
            <a href="#"><img src="../../assets/youtube-white.svg" alt="youtube"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="../../assets/ebook-cover.png" alt="Book">
    </div>
  </div>
</header>
<footer>
  <p>Sua marca - Todos os direitos reservados</p>
</footer>
