<section class="container">
  <div class="left">
    <img src="../../assets/teacher-photo.png" alt="Professor">
  </div>
  <div class="right">
    <div>
      <h2>Nome do Professor</h2>
      <h5>ÁREA DE ATUAÇÃO DO PROFESSOR</h5>
      <p>Coloque aqui uma descrição e conquistas do professor para dar mais credibilidade para o seu curso. Mostre que ele entende do assunto.</p>
      <p class="bold">Curabitur rutrum, sem nec ultricies facilisis, nisl eros efficitur nulla, ac tincidunt massa metus ut risus. Nam aliquam felis fermentum vehicula.</p>
    </div>
  </div>
</section>
