:host {
  display: block;
  background-color: #F3F3F3;
}

.container {
  max-width: 1110px;
  margin: 0px auto;
  color: #262626;
  padding: 40px 0px;
  display: flex;
  flex-flow: row wrap;
  @media screen and (max-width: 1110px) {
    max-width: 80vw;
    flex-flow: column nowrap;
  }

  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 380px;
      margin: auto;
      @media screen and (max-width: 1110px) {
        max-width: 80vw;
      }

      h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
        margin: 10px 0px;
      }

      h5 {
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
        margin-bottom: 36px;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}
